<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>karte_app_key</key>
	<string>dummy_application_key_customized</string>
	<key>karte_api_key</key>
	<string>dummy_karte_api_key</string>
	<key>karte_base_url</key>
	<string>https://b-jp.karte.io</string>
	<key>karte_data_location</key>
	<string>jp</string>
</dict>
</plist>
