name: "Pull Request Review"
on:
  pull_request:
    branches:
      - 'develop'
      - 'master'
permissions:
  contents: read
  issues: read
  statuses: write
  pull-requests: write
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  review:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Ruby
        uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          ruby-version: '3.4'
          bundler-cache: true
      - name: Setup swiftlint
        run: |
          if !(type swiftlint); then
            echo 'swiftlint command is not installed.'
            brew install swiftlint
          fi
      - name: Git fetch
        run: git fetch -t
      - name: Run danger
        run: |
          bundle exec danger --fail-on-errors=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
