name: "Git-flow merge"
on:
  pull_request:
    types: [edited]
    branches: [master]

jobs:
  check_that_current_pr_is_complete:
    if: ${{ github.repository != 'plaidev/karte-ios-sdk' && github.event.pull_request.state == 'open' }}
    permissions:
      pull-requests: read
    runs-on: ubuntu-latest
    outputs:
      completed: ${{ steps.check_completion.outputs.completed }}
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # 0.12.1
      with:
        access_token: ${{ secrets.GH_ACCESS_TOKEN }}
        all_but_latest: true
    - name: Check Completion
      id: check_completion
      env:
        BODY: ${{ github.event.pull_request.body }}
      run: |
        incomplete_task=$(echo "$BODY" | sed -n "/\- \[ \]/ p")
        if [ -z "$incomplete_task" ]; then
            echo "completed=true" >> $GITHUB_OUTPUT
        else
            echo "completed=false" >> $GITHUB_OUTPUT
        fi

  perform_merge:
    permissions:
      contents: write
    needs: [check_that_current_pr_is_complete]
    runs-on: ubuntu-latest
    if: needs.check_that_current_pr_is_complete.outputs.completed == 'true'
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    # NOTE: Using GitHub App token to bypass branch protection rules.
    - name: Generate GitHub App token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      id: app-token
      with:
        app-id: ${{ secrets.SHARED_GITHUB_ACTION_AGENT_APP_ID }}
        private-key: ${{ secrets.SHARED_GITHUB_ACTION_AGENT_APP_PRIVATE_KEY }}
    - name: Configure Git
      run: |
        git config user.email "git@users.noreply.github.com"
        git config user.name "${{ github.actor }}"
        git config --global url."https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf "https://github.com/"
        git fetch
    - name: Merge to develop
      run: |
        git checkout develop
        git merge origin/${{ github.head_ref }} --no-ff -m "Merge ${{ github.head_ref }} into develop"
    - name: Push to develop
      run: git push origin develop
    - name: Merge to master
      run: |
        git checkout master
        git merge origin/${{ github.head_ref }} --no-ff -m "Merge ${{ github.head_ref }} into master"
    - name: Push to master
      run: git push origin master
