name: "UI Test on develop"
on:
  push:
    branches:
      - develop

jobs:
  kick_uitest:
    runs-on: ubuntu-latest
    if: ${{ vars.UITEST_REPO }}
    steps:
      - name: Generate GitHub App token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ secrets.APP_TEAM_GITHUB_APP_ID }}
          private-key: ${{ secrets.APP_TEAM_GITHUB_APP_PRIVATE_KEY }}
          owner: plaidev
          repositories: ${{ vars.UITEST_REPO }}
      - uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: 'plaidev',
              repo: '${{vars.UITEST_REPO}}',
              workflow_id: 'uitest.yml',
              ref: 'master',
              inputs: {
                slackChannel: '${{vars.SLACK_CHANNEL}}',
                notifyOnlyFail: true,
                minimumOnly: true,
              },
            })
