name: "UI Test before release"
on:
  pull_request:
    types: [opened, reopened]
    branches:
      - 'master'

jobs:
  wait_uitest:
    runs-on: ubuntu-latest
    if: ${{ vars.UITEST_REPO }}
    steps:
      - name: Generate GitHub App token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ secrets.APP_TEAM_GITHUB_APP_ID }}
          private-key: ${{ secrets.APP_TEAM_GITHUB_APP_PRIVATE_KEY }}
          owner: plaidev
          repositories: ${{ vars.UITEST_REPO }}
      - name: Kick UI Test and wait
        uses: the-actions-org/workflow-dispatch@3133c5d135c7dbe4be4f9793872b6ef331b53bc7 # v4.0.0
        with:
          workflow: uitest.yml
          repo: plaidev/${{vars.UITEST_REPO}}
          token: ${{ steps.app-token.outputs.token }}
          ref: master
          inputs: '{ "sdkBranch": "${{github.head_ref}}", "slackChannel": "${{vars.SLACK_CHANNEL}}", "notifyOnlyFail": true }'
