name: "Validate SPM Package"
on:
  pull_request:
    branches:
      - 'develop'
      - 'master'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate-spm:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Resolve Swift Package
        run: swift package resolve
